:root {
  // Light Theme
  --background-color: #ffffff;
  --text-color: #333333;

  // Dark Theme
  --dark-background-color: #333333;
  --dark-text-color: #ffffff;

  // general
  --pastel-yellow: #faedcb;
  --pastel-green: #b9e5d3;
  --pastel-blue: #c6def1;
  --pastel-lavender: #dbcdf0;
  --pastel-pink: #f2c6de;
  --pastel-red: #fd8a8a;
  --platform-bar-color: #1690F4;
}
