@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);


  &.dark-theme {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
  }

  button {

    border-radius: 1rem;
    border: none;
    background-color: #fff;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: #f2f2f2;
      cursor: pointer;
    }


  }

  .link {
    text-decoration: none;
    color: var(--text-color);

    &:hover {
      text-decoration: underline;
    }
  }
}